@import '../../styles/variables.scss';

.app_card_car {
  width: 100%;
  padding: 0 8px;
}

.app_card_car_content {
  @include flexbox-column;

  width: 100%;
  overflow: hidden;
  background-color: $white;
  border-radius: 6px;

  transition: all 0.5s;

  &:hover {
    box-shadow: 0 10px 25px rgb(60 72 88 / 15%), 0 3px 2px -2px rgb(70 70 70 / 15%);

  }
}

.app_card_car_content img {
  flex: 1;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.app_card_car_content_info {
  padding: 8px $gap-2;
}

.app_card_car_content_info strong {
  color: $gray700;
  font-size: $gap-2;
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.app_card_car_content_info p {
  color: $gray200;
  font-size: 0.875rem;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.app_card_car_content_info_price {
  width: 100%;

  @include flexbox-row;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  height: 40px;
}

.app_card_car_content_info_price span {
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 500;
  color: $blue500;
}


.app_card_car_content_info_price div {
  @include flexbox-row;
  align-items: center;
  gap: 8px;

  button {
    cursor: pointer
  }
}