@import '../variables.scss';

.app_login {
  @include flexbox-row;
  flex-wrap: nowrap;
}

.app_login_banner {
  display: block;
  width: 55%;
  max-width: 448px;
  min-height: calc(100vh - 84px);
  background: 50%;
  background-size: cover;
  background-image: url('../../assets/showroom.jpg');

  @media (max-width: 990px) {
    display: none
  }
}


.app_login_content {
  max-width: 27.5rem;
  margin: 0 auto;
  width: 100%;
  margin-top: 40px;


  @media (max-width: 990px) {
    @include grid-layout;
    margin-top: 40px;
    padding: 0 $gap-2;
  }
}

.app_login_content form {
  @include flexbox-column;
  gap: 40px;

  padding: 100px 50px 30px;


  background-color: $white;
  border-radius: 6px;


  strong {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  @media (max-width: 540px) {
    padding: 100px 16px 30px 16px;
  }
}

.app_login_content_form_forgot_password {
  a {
    color: $blue500;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
  }

  a:hover {
    border-bottom-color: $blue500;
  }
}