@import '../../styles/variables.scss';

.app_modal_delete_car_overlay {
  position: fixed;
  inset: 0;
  animation: 150ms cubic-bezier(0.16, 1, 0.3, 1);
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.app_modal_delete_car_content {
  background-color: $white;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.app_modal_delete_car_content_title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.app_modal_delete_car_content_description {
  margin: 20px 0;
  color: $gray200;
  font-size: 15px;
  line-height: 1.5;
}

.app_modal_delete_car_content_button {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

.button_remove {
  @include flexbox-row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 100%;

  transition: all 0.3s;


  svg {
    width: 1rem;
    height: 1rem;

    fill: $gray500;
    transition: all 0.3s;

  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);

    svg {
      fill: red;
    }
  }
}

.app_modal_delete_car_content_button button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  cursor: pointer;

  transition: all 0.3s;
}

.app_modal_delete_car_content_button button.button_cancel {
  border: 1px solid $gray200;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-color: transparent;
  }
}

.app_modal_delete_car_content_button button.button_delete {
  background-color: rgb(255, 229, 229);
  color: red;

  &:hover {
    background-color: rgb(253, 216, 216);
  }
}


@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}